
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

nav {
  width: 100%;
  background: #2ea0a0;
  z-index: 2;
}

ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

ul li:hover {
  background: #e91e63;
  transition: 0.3s;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

img.logga {
    height: 50px;
    margin-left: 10px;
    float: left;
}

.section-title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
  color: #2ea0a0;
}

#icons {
    font-size: 40px;
    padding: 10px;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  background: #2ea0a0;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}

.content {
  background-color: #000000ab;
  color: #fff;
  padding: 100px 40px 100px 40px;
  height: auto;
  font-family: 'Raleway', sans-serif;
}

.top-content {
  background: url(coach_bg01.jpg) center center fixed !important;
  color: #fff;
  padding: 185px 40px 180px 40px;
  height: auto;
  font-family: 'Raleway', sans-serif;
}

#profile-content {
  background: #f3efe0;
}

#experience-content {
  background: #fff;
  color: #000;
}

#abilities-content {
  background: #f3efe0;
}

#contact-content {
  background: #434242;
}

.contact-info {
  color: #b4b3b3;
  text-decoration: none;
  line-height: 1.5;
}

.contact-info:hover {
  color: #fff;
}

.content-position {
  padding-left: 350px;
  padding-right: 350px;
  line-height: 1.5;
  overflow-wrap: break-word;
}

.resume-content {
  padding: 100px;
  background-color: darkred;
}

.profile-image {
  width: 20%;
  height: auto;
  float: left;
  margin-right: 4em;
  border: 5px solid #fff;
}

.profile-text {
  position: relative;
}

.col {
  position: relative;
} 

.col-1 {
  text-align: center;
}

.col-2 {
  text-align: center;
}

.col-3 {
  text-align: center;
}

.experience {
  margin: 50px auto;
  width: 60%;
}

.progressBar {
  position: relative;
  width: 100%;
  height: 30px;
  background: #eeeeee;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 1px 2px #222;
}

.title {
  position: absolute;
  width: 100px;
  height: 40px;
  padding-left: 10px;
  float: left;
  font-weight: bold;
  color: #fff;
  line-height: 2;
  z-index: 1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-shadow: 1px 1px 1px #000;
}

.progress_value {
  position: relative;
  float: right;
  padding-right: 10px;
  line-height: 2.5;
  font-weight: bold;
  color: #455a64;
}

.progress {
  height: 30px;
  position: absolute;
  border-radius: 20px;
  box-shadow: 2px 0 2px #555;
}

.html {
  background: #ec407a;
}

.css {
  background: #ab47bc;
}

.js {
  background: #5c6bc0;
}

.php {
  background: #66bb6a;
}

.cSharp {
  background: #ffca28;
}

@media (max-width:1700px) {

  .profile-image {
    margin-right: 3em;
  }
  .content-position {
    padding-left: 200px;
    padding-right: 200px;
  }

}

@media (max-width:1200px) {

  .profile-image {
    width: 20%;
    margin-right: 2em;
  }

  .experience {
    width: 75%;
  }

  .content-position {
    padding-left: 150px;
    padding-right: 150px;
  }

}

@media (max-width:980px) {

  .content-position {
    padding-left: 100px;
    padding-right: 100px;
  }

  .profile-image {
    width: 25%;
    margin-right: 1em;
  }

}

@media (max-width:768px) {

  .toggle {
    display: block;
  }

  ul {
    width: 100%;
    display: none;
  }

  ul li {
    display: block;
    text-align: center;
    border-top: 1px solid dimgrey;
  }

  .active {
    display: block;
  }

  .experience {
    width: 85%;
  }

  .content-position {
    padding-left: 50px;
    padding-right: 50px;
  }

}

@media (max-width: 720px) {
 
 .main{
    width: 90%;
  }

}

@media screen and (max-width: 480px) {

  .profile-image {
    width: 93%;
    margin-right: 0em;
  }

  .content-position {
    padding-left: 25px;
    padding-right: 25px;
  }

}


@media screen and (max-width: 360px) {

  .top-content {
    padding: 100px 40px 100px 40px;
  }

  .profile-image {
    width: 93%;
    margin-right: 0em;
  }

  .content-position {
    padding-left: 15px;
    padding-right: 15px;
  }

}


