
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

nav {
  width: 100%;
  background: #000000cf;
  z-index: 2;
}

ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
}

ul li:hover {
  background: #e91e63;
  transition: 0.3s;
}

ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 18px 15px;
}

img.logga {
    height: 50px;
    margin-left: 10px;
    float: left;
}

.section-title {
  font-size: 35px;
  text-align: center;
  color: #108787;
}

#icons {
    font-size: 40px;
    padding: 10px;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  margin: 10px 0 15px 0;
}

h2 {
  margin: 5px 0 10px 0;
}

h3 {
  margin: 5px 0 10px 0;
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  background: #108787;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}

.content {
  background-color: #000000ab;
  color: #fff;
  height: auto;
  font-family: 'Raleway', sans-serif;
}

.parallax {
  background: url('bg-abstract.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.top-content {
  color: #fff;
  height: auto;
  font-family: 'Raleway', sans-serif;
}

#profile-content {

}

#experience-content {
  background: #fff;
  color: #000;
}

#abilities-content {

}

#contact-content {
  background: #000;
}

.contact-info {
  color: #b4b3b3;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info:hover {
  color: #fff;
}

.content-position {
  padding-left: 350px;
  padding-right: 350px;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 1.5;
}

.resume-content {
  padding: 100px;
  background-color: darkred;
}

.profile-content {
  display: flex;
  align-items: center;
}

.profile-image {
  max-width: 200px;
  width: 100%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 0 #fff;
  margin-right: 15px;
}

.profile-text {
  position: relative;
}

.col {
  position: relative;
} 

.col-1 {
  text-align: center;
}

.col-2 {
  text-align: center;
}

.col-3 {
  text-align: center;
}

.experience {
  margin: 50px auto;
  width: 60%;
}

.progressBar {
  position: relative;
  width: 100%;
  height: 30px;
  background: #eeeeee;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 1px 2px #222;
}

.title {
  position: absolute;
  width: 100px;
  height: 40px;
  padding-left: 10px;
  float: left;
  font-weight: bold;
  color: #fff;
  line-height: 2;
  z-index: 1;
  text-shadow: 1px 1px 1px #000;
}

.progress_value {
  position: relative;
  float: right;
  padding-right: 10px;
  line-height: 2.5;
  font-weight: bold;
  color: #455a64;
}

.progress {
  height: 30px;
  position: absolute;
  border-radius: 20px;
  box-shadow: 2px 0 2px #555;
}

.html {
  background: #108787;
}

.css {
  background: #3a65db;
}

.js {
  background: #108787;
}

.php {
  background: #3a65db;
}

.cSharp {
  background: #108787;
}

.wp {
  background: #3a65db;
}

.docker {
  background: #108787;
}

.first {
  height: 100vh;
  background-color: black;
}


.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  letter-spacing: 14px;
}

.text::before,.text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.text::before {
  color: #ff0000;
  animation: glitch-effect 3s infinite;
}

.text::after {
  color: #34d0db;
  animation: glitch-effect 2s infinite;
}

@keyframes glitch-effect {

  0%{
    left: -2px;
    top: -2px;
  }

  25%{
    left: 2px;
    top: 0px;
  }

  50%{
    left: -1px;
    top: 2px;
  }

  75%{
    left: 1px;
    top: -1px;
  }

  100%{
    left: 0px;
    top: -2px;
  }

}

@media (max-width:1700px) {

  .content-position {
    padding-left: 200px;
    padding-right: 200px;
  }

}

@media (max-width:1200px) {

  .experience {
    width: 75%;
  }

  .content-position {
    padding-left: 150px;
    padding-right: 150px;
  }

}

@media (max-width:980px) {

  .content-position {
    padding-left: 100px;
    padding-right: 100px;
  }

  .top-content {
    background: #434242 !important;
  }

}

@media (max-width:768px) {

  .toggle {
    display: block;
  }

  nav {
    background-color: #000;
  }

  ul {
    width: 100%;
    display: none;
  }

  ul li {
    display: block;
    text-align: center;
    border-top: 1px solid #2ea0a0;
    padding: 0;
  }

  .active {
    display: block;
  }

  .experience {
    width: 85%;
  }

  .content-position {
    padding-left: 50px;
    padding-right: 50px;
  }

}

@media (max-width: 720px) {
 
 .main{
    width: 90%;
  }

}

@media screen and (max-width: 480px) {

  .content-position {
    padding-left: 25px;
    padding-right: 25px;
  }

  .profile-content {
    flex-direction: column;
  }

  .text.middle {
    font-size: 30px;
    position: relative;
  }

  .text.middle {
    font-size: 30px;
    position: relative;
  }

}

@media screen and (max-width: 360px) {

  .content-position {
    padding-left: 15px;
    padding-right: 15px;
  }

}


